@media(max-width:768px) {
    .pagesContainer {
        padding: 0 !important;
    }

    #socialLinks {
        flex-direction: row;
    }

    #socialLinks li {
        margin-right: 20px;
    }

    footer {
        display: none !important;
    }
}