* {
    transition: all 700ms !important;
}

@media(max-width: 1201px) {
    .links {
        font-size: 14px !important;
    }

    #nav-collapse {
        padding-left: 0 !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0 !important;
    }
}


@media(max-width: 768px) {
    .pagesContainer {
        padding: 0 !important;
    }

    #socialLinks {
        flex-direction: row;
    }

    #socialLinks li {
        margin-right: 20px;
    }

    footer {
        display: none !important;
    }
}